{{#each restaurants as |restaurant|}}

  {{#if restaurant.achieved}}
  <div class="visited">
    <div class="visit-message restaurant-check-icon">
      Visited!
    </div>
    <div class="restaurant-trash-icon" data-id="{{restaurant.id}}">
      <span class="glyphicon glyphicon-trash icon" aria-hidden="true"></span>
    </div>
    <div class="restaurant-selectable" data-id="{{restaurant.id}}">
      <p class="restaurant-name-style">{{restaurant.name}}</p>
      <p class="restaurant-location-style"><span class="label">Address: </span>{{restaurant.location}}</p>
      <p class="restaurant-type-style"><span class="label">Type: </span>{{restaurant.type}}</p>
      <p class="restaurant-notes-style"><span class="label">Notes: </span>{{restaurant.notes}}</p>
    </div>
  </div>

  {{else}}

  <div class="pending">
    <div class="restaurant-check-icon" data-id="{{restaurant.id}}">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
    </div>
    <div class="restaurant-trash-icon" data-id="{{restaurant.id}}">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </div>
    <div class="restaurant-selectable" data-id="{{restaurant.id}}">
      <p class="restaurant-name-style">{{restaurant.name}}</p>
      <p class="restaurant-location-style"><span class="label">Address: </span>{{restaurant.location}}</p>
      <p class="restaurant-type-style"><span class="label">Type: </span>{{restaurant.type}}</p>
      <p class="restaurant-notes-style"><span class="label">Notes: </span>{{restaurant.notes}}</p>
    </div>
  </div>
  {{/if}}

{{/each}}
